html,
body {
  width: 100%;
  height: 100vh;
  background: url('https://www.itl.cat/pngfile/big/120-1200330_pastel-rainbow-backgrounds-on-wallpaper-1080p-hd-rainbow.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
}

@media (max-width: 768px) {
  .grid {
    margin-right: 0;
  }
}

.grid div {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
}

h1 span {
  font-size: 70px;
}
h1 {
  margin-bottom: 20px;
}

.container {
  height: 80vh;
  color: #b8b7b7;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 5px;
}
